
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #68b31d6c;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.logo {
    color: white;
    font-weight: bolder;
}
nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.footer {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #80ff00;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 84px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

body { 
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.banner {
    color: white;
    text-align: right;
    font-family: "Arial", sans-serif; 
    padding: 40px;
    padding-top: 110px;
    padding-bottom: 200px;
    
}

h1 {
    font-size: 36pt;
}

#mainbanner {
    background-image: url("images/electronics.png") !important;
    background-position: center;
    background-size: 100%;
}

#aboutbanner {
    background-image: url("images/commandline.jpg") !important;
    background-position: center;
    background-size: 100%;
}

#contactbanner {
    background-image: url("images/rotary.jpeg") !important;
    background-position: center;
    background-size: 100%;
}

#mapbanner {
    background-image: url("images/circuitmap.jpg") !important;
    background-position: center;
    background-size: 100%;
}

#shopbanner {
    background-image: url("images/eshop.png") !important;
    background-position: center;
    background-size: 100%;
}

