.container {
    margin: 60px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.logo {
    color: white;
    font-weight: bolder;
}

nav {
    margin-right: 20px;
}

nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.footer {
    width: 100%;
    background-color: #61a331;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 84px;
    margin-left: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

body { 
    padding: 0!important;
    margin: 0!important;
    overflow-x: hidden;
}

.banner {
    color: white;
    text-align: right;
    font-family: "Arial", sans-serif; 
    padding: 40px;
    padding-top: 110px;
    padding-bottom: 110px;
    background-position: center;
    background-size: 100%;
}

h1 {
    font-size: 36pt;
}

#mainbanner {
    background-image: url("images/electronics.png") !important;
}
#aboutbanner {
    background-image: url("images/commandline.jpg") !important;
}
#contactbanner {
    background-image: url("images/rotary.jpeg") !important;
}
#mapbanner {
    background-image: url("images/circuitmap.jpg") !important;
}
#shopbanner {
    background-image: url("images/eshop.png") !important;
}

.product_img {
    width: 240px;
    height: 240px;   
}

.product_div {
    border: 4px solid black;
    padding: 20px;
    width: fit-content;
    margin-top: 20px;
}

.product_name {
    margin-left: 40px;
}

.product_qty {
    margin-left: 20px;
}

.product_div p {
    margin-left: 40px;
}

.product_div button {
    margin-left: 40px;
}